[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = meshes/hex8_refined_20km.exo

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
elastic.quadrature.cell = pylith.feassemble.FIATLagrange
elastic.quadrature.cell.dimension = 3
maxwell.quadrature.cell = pylith.feassemble.FIATLagrange
maxwell.quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault]
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.domain]
writer.filename = output/hex8.h5

[pylithapp.problem.formulation.output.subdomain]
writer.filename = output/hex8-groundsurf.h5

[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/hex8-fault.h5

[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/hex8-elastic.h5

[pylithapp.timedependent.materials.maxwell.output]
writer.filename = output/hex8-maxwell.h5


# End of file
