# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies material information and output file names for a
# particular mesh and set of parameters.
# The general parameters are specificed in the pylithapp.cfg file which
# PyLith reads by default. Mesh information is contained in hex8.cfg,
# fault slip information is contained in fault_lock20.cfg, and solution
# parameters are contained in asm.cfg and fieldsplit.cfg.
#
# To run the simulation:
# pylith hex8.cfg fault_lock20.cfg fieldsplit.cfg sp_hex8.cfg

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials.maxwell]
db_properties.iohandler.filename = mat_maxwell_tau0-10.spatialdb
db_properties.label = Viscoelastic properties yielding tau0 = 10

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK files.
[pylithapp.problem.formulation.output.domain.writer]
filename = output/sp_hex8/sp_hex8.h5

[pylithapp.problem.formulation.output.subdomain]
writer.filename = output/sp_hex8/sp_hex8-groundsurf.h5

[pylithapp.timedependent.interfaces.fault.output.writer]
filename = output/sp_hex8/sp_hex8-fault.h5

[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/sp_hex8/sp_hex8-elastic.h5

[pylithapp.timedependent.materials.maxwell.output]
writer.filename = output/sp_hex8/sp_hex8-maxwell.h5

